/* RESET CSS */

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* START CSS */

body{
    background-color: #749496;
}

h1{
    text-align: center;
    padding: 4%;
    font-size: 3em;
}

.time{
    text-align: center;
    font-size: 8em;
    padding: 4%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto; /* To center a division */
}

.button{
    border: 1px solid black;
    border-radius: 30px;
    padding: 3% 5%;
    font-size: 3em;
    cursor: pointer;
}

/* 
TODO : 
ADD ANIMATION !!!!!
MAKE THE SITE RESPONSIVE
*/

/* END CSS */